.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  gap: 1rem;
  align-items: center;
}
.btn {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}

.btn:active {
  background-color: #3e1068;
}
